{% extends "template.html.twig" %}

{% block body %}
    

    

    {% block PageTitle %}
        liste des Todos
    {% endblock %}
    
    <ul class="list-group">
    {% for name,content in app.session.get('todos')%}
    <li class="list-group-item">
    {{ name }} : {{ content }}
    </li>
    
    {% endfor %}
    </ul>
{% endblock %}

{% block title %}
    Todo
{% endblock %}