<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="{{ asset('node_module/boostrap/dist/css/boostrap.css')}}">
</head>
<body>
  <ul class="list-group">
  {% for name,content in app.session.get('todos')%}
  <li class="list-group-item">
  {{ name }} : {{ content }}
  </li>
  
  {% endfor %}
</ul>
</body>
</html>