<h1> {{ title }} </h1>

{% if age > 18 %}
<p>Majeur</p>

{% else %}

<p>mineur</p>
{% endif %}


<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Voluptatem cum summum bonum diceret, primum in eo ipso parum vidit, deinde hoc quoque alienum; Nihilne est in his rebus, quod dignum libero aut indignum esse ducamus? Ea, quae dialectici nunc tradunt et docent, nonne ab illis instituta sunt aut inventa sunt? Duo Reges: constructio interrete. 

Quem quidem vos, cum improbis poenam proponitis, inpetibilem facitis, cum sapientem semper boni plus habere vultis, tolerabilem. Sed est forma eius disciplinae, sicut fere ceterarum, triplex: una pars est naturae, disserendi altera, vivendi tertia. Itaque haec cum illis est dissensio, cum Peripateticis nulla sane. Non est igitur voluptas bonum. Ex quo intellegi debet homini id esse in bonis ultimum, secundum naturam vivere, quod ita interpretemur: vivere ex hominis natura undique perfecta et nihil requirente. Sed non alienum est, quo facilius vis verbi intellegatur, rationem huius verbi faciendi Zenonis exponere. 

Sin autem eos non probabat, quid attinuit cum iis, quibuscum re concinebat, verbis discrepare? Quis animo aequo videt eum, quem inpure ac flagitiose putet vivere? Hoc unum Aristo tenuit: praeter vitia atque virtutes negavit rem esse ullam aut fugiendam aut expetendam. Quippe: habes enim a rhetoribus; Nam diligi et carum esse iucundum est propterea, quia tutiorem vitam et voluptatem pleniorem efficit. Itaque et manendi in vita et migrandi ratio omnis iis rebus, quas supra dixi, metienda. Nihil acciderat ei, quod nollet, nisi quod anulum, quo delectabatur, in mari abiecerat. Quod ea non occurrentia fingunt, vincunt Aristonem; 

Urgent tamen et nihil remittunt. Cave putes quicquam esse verius. Nam cum Academicis incerta luctatio est, qui nihil affirmant et quasi desperata cognitione certi id sequi volunt, quodcumque veri simile videatur. Et ille ridens: Age, age, inquit,-satis enim scite me nostri sermonis principium esse voluisti-exponamus adolescenti,. Ita fit beatae vitae domina fortuna, quam Epicurus ait exiguam intervenire sapienti. Apparet statim, quae sint officia, quae actiones. De maximma autem re eodem modo, divina mente atque natura mundum universum et eius maxima partis administrari. Pisone in eo gymnasio, quod Ptolomaeum vocatur, unaque nobiscum Q. Ergo, si semel tristior effectus est, hilara vita amissa est? Id enim ille summum bonum eu)qumi/an et saepe a)qambi/an appellat, id est animum terrore liberum. Eodem modo is enim tibi nemo dabit, quod, expetendum sit, id esse laudabile. Cum autem progrediens confirmatur animus, agnoscit ille quidem naturae vim, sed ita, ut progredi possit longius, per se sit tantum inchoata. Habes undique expletam et perfectam, Torquate, formam honestatis, quae tota quattuor his virtutibus, quae a te quoque commemoratae sunt, continetur. Si de re disceptari oportet, nulla mihi tecum, Cato, potest esse dissensio. Nemo nostrum istius generis asotos iucunde putat vivere. 
</p>
