{% extends 'template.html.twig' %}

{% block title %}
	Accès interdit
{% endblock %}

{% block PageTitle %}
	Accès interdit
{% endblock %}


{% block body %}
	<h1>Accès interdit</h1>
    <p>Vous n'avez pas le droit d'accéder à cette page</p>
    <p>Code de l'erreur : {{ status_code }}</p>
    <p>Message de l'erreur : {{ status_text }}</p>
{% endblock %}
