{% extends 'heritage.html.twig' %}

{% block titreDuDocument %}
        Nouveau titre
{% endblock %}

{% block corpDuDocument %}
    <ol>
    <li>nouveau</li>
    <li>nouveau2</li>
    </ol>
{% endblock %}